<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Timer</title>

    <link rel="stylesheet" href="/css/timer.css" type="text/css" media="screen">
    <script type="text/javascript" src="/js/jquery-1.5.1.js"></script>
    <script type="text/javascript" src="/js/sprintf-0.7-beta1.js"></script>
    <script type="text/javascript" src="/js/timer.js"></script>
	  <script type="text/javascript" charset="utf-8">
      $(function() {
        $( '#timer' ).timer( {visual:true} ) ;
        $( '.timer' ).timer( {visual:true} ) ;
      } );
    </script>
  </head>
  <body>
    <h1>Timer</h1>
    
  	<h2>Single</h2>
    <div id="timer"></div>
    <input type="text" name="default" id="set" />
    <a href="javascript:$( '#timer' ).data('Timer').setSettings( { t_past: parseInt( $('#set').val() ) * 1000 } );" >ustaw domyślnie</a>
  	<a href="javascript:$( '#timer' ).data('Timer').start();" >własny start</a>
  	<a href="#" onclick="$( '#timer' ).data('Timer').toggleDirection(this);" >^</a>
  	
  	<h3>Multiple</h3>
  	<div class="timer" ></div>
  	<div class="timer" ></div>
  </body>
</html>
